<div class="container">
    <h2 class="title-products">Productos</h2>
    <div class="cards-container">
        {{#each products}}
        <div class="card">
            <h3>{{this.title}}</h3>
            <p><strong>Categoria:</strong> {{this.category}}</p>
            <p><strong>Precio:</strong> {{this.price}}</p>
            <p><strong>Código:</strong> {{this.code}}</p>
            <p><strong>Stock:</strong> {{this.stock}}</p>
        </div>
        {{/each}}
    </div>
    <a href="/api/sessions/logout" class="link">Cerrar Sesión</a>
</div>

<script src="/static/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>